.order-index {
  width: 450px;
  height: 250px;
  margin: 10px;
  padding-top: 10px;
  color: #ff7300;
  border: solid;
  border-radius: 0.1rem;
  text-align: center;
}

.order-item {
  margin: 20px;
  display: flex;
  color: aquamarine;
  border-style: solid;
  border-radius: 0.1rem;
}
.order-item-title {
  background: #7918f2;
  position: relative;
  top: -10px;
}
.order-item-input {
  padding: 5px;
  color: aquamarine;
  text-shadow: 0 0 0.2em rgb(201, 119, 255);
  align-content: center;
  border-style: none;
  background-color: transparent;
}
.order-btn {
  padding: 10px;
  color: aquamarine;
  text-shadow: 0 0 0.2em rgb(201, 119, 255);
  background-color: transparent;
  border: solid;
  border-radius: 0.1rem;
}

@media only screen and (min-width: 600px) {
  .order-index {
   
  }
}
